{% extends 'base/base_nav_footer.html' %}
{% load static %}
{% block link %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.8/sweetalert2.min.css"/>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
{% endblock link %}
{% block content %}
  <div class="container-fluid container-assembly">
    <h3>Presiona el boton <strong>"Ensamblar"</strong> hasta que sea azul completamente.</h3>
    <br>
    <div class="row">
      <table class="table table-hoverable table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>Ticket ID</th>
            <th>Productos</th>
            <th>Paquetes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <th>{{ order.ticket_id }}</th>
              <td>
                {% for product in order.products %}
                  <span class="badge badge-blue">
                    {{ product.name }}
                    <span class="badge badge-white-blue">
                      {{ product.quantity }}
                    </span>
                  </span>
                {% endfor %}
              </td>
              <td>
                {% for package in order.packages %}
                  <span class="badge badge-dark-blue" >
                    {{ package.name }}
                    <span class="badge badge-white-blue-2">
                      {{ package.quantity }}
                    </span>
                  </span>
                {% endfor %}
              </td>
              <td>
                <button class="btn btn-success btn-lg btn-assembly">Ensamblar</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.8/sweetalert2.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(function() {
    function rel(){
      location.reload();
    }
    var holdActive = false;
    var holdStarter = null;
    var holdDelay = 500;
    $(this).on('mousedown touchstart', '.btn-assembly', function (e) {
      e.preventDefault();
      var assembly_button = $(this);
      assembly_button.removeClass('btn-success btn-primary').addClass('btn-info');
      
      holdStarter = setTimeout(function() {
        holdStarter = null;
        holdActive = true; 
        assembly_button.removeClass('btn-info').addClass('btn-primary');
      }, holdDelay);
    });

    //Usar mouseleave ??
    $(this).on('mouseleave','btn-assembly', function(e){
      var assembly_button = $(this);
      assembly_button.removeClass('btn-success btn-primary').addClass('btn-info');
      
      holdStarter = setTimeout(function() {
        holdStarter = null;
        holdActive = false; 
        assembly_button.removeClass('btn-info').addClass('btn-primary');
      }, holdDelay);
    });
    
    $(this).on('mouseup touchend', '.btn-assembly', function (e) {
      e.preventDefault(); 
      var assembly_button = $(this);
      if (holdStarter) {
        clearTimeout(holdStarter);
        assembly_button.removeClass('btn-info').addClass('btn-success');
      }
      else if (holdActive){
        assembly_button.removeClass('btn-success').addClass('btn-primary');
        holdActive = false;
        var element = $(this);
        var order_id = element.parent('td').siblings('th').text();
        $.ajax({
          url: '{% url "kitchen:assembly" %}',
          type: 'POST',
          data: {
            'order_id': order_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          traditional: true,
          datatype: 'jsonp',
          beforeSend: function (xhr) {
            swal({
              title: "Ensamblando Paquete",
              text: "Espere mientras se envia la petición",
              type: "info",
              showCancelButton: false,
              showConfirmButton: true,
              showLoaderOnConfirm: true,
            });
            $('button.swal2-confirm').addClass('swal2-loading').blur();
          },
          success: function(result){
            swal({
              title: "Éxito",
              text: "Paquete ensamblado",
              type: "success",
              showConfirmButton: false
            });
            setTimeout(rel, 1000);
          },
          error: function(result, jqXHR , textStatus, errorThrown){
            swal({
              title: "Orden no procesada!",
              text: 'Contacte a soporte!\n ' + 'Errores: ' + textStatus + ', ' + jqXHR,
              type: "error",
              showConfirmButton: false
            });
            setTimeout(rel,1500);
          },
        });
      }
    });
  });
</script>
{% endblock %}