{% extends 'base/base_nav_footer.html' %}
{% load static %}

{% block content %}
<div class="container-fluid container-kitchen">
  <div class="row">
    <table class="table table-kitchen table-hover">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Nombre</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          {% if product.cartridges %}
            {% for cartridge in product.cartridges %}
              {% if cartridge.cartridge.category == 'FD' %}                
                <tr class="tr_id">
                  <th scope="row" class="id_kitchen_table">{{ product.ticket_id }}</th>
                  <td>{{ cartridge.cartridge }}</td>
                  <td>{{ cartridge.quantity }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if product.packages %}
            {% for package in product.packages %}
              {% for cartridge in package.package_recipe %}
                {% if cartridge.category == 'FD' %}
                  <tr class="tr_id">
                    <th scope="row" class="id_kitchen_table">{{ product.ticket_id }}</th>
                    <td>{{ cartridge }}</td>
                    <td>{{ package.quantity }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="{% static 'js/kitchen/kitchen-logic.js' %}" async charset="utf-8"></script>

{% endblock  %}
