<!-- <link rel="stylesheet" href="CashFlow/cashflow/static/css/slidebar.css">
<link rel="stylesheet" href="https://use.fontawesome.com/7149a061e7.css">


<nav class="navbar navbar-full navbar-dark navbar-base">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'users:login' %}"><h3>{{ page_title }}</h3></a>
  </div>
</nav>
    <div id="sidebar" >
      <a href="#" id="icono"><i class="fa fa-bars"></i></a>  
      <ul>
        <ul >
      <li class="nav-item" id="link-sales">
        <a class="nav-link" href="{% url 'sales:sales' %}">Ventas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="link-new-sale">
        <a class="nav-link" href="{% url 'sales:new_sale'  %}">Nueva venta</a>
      </li>
      <li class="nav-item dropdown" id="link-kitchen">
        <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cocina</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
          <a class="dropdown-item" href="{% url 'kitchen:hot_kitchen' %}">Cocina Caliente</a>
          <a class="dropdown-item" href="{% url 'kitchen:cold_kitchen' %}">Cocina Fría</a>
          <a class="dropdown-item" href="{% url 'kitchen:assembly' %}">Ensamble</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="link-warehouse">
        <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Almacén</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
          <a class="dropdown-item" href="{% url 'products:supplies' %}">Insumos</a>
          <a class="dropdown-item" href="{% url 'products:cartridges' %}">Productos</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="link-customers">
        <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
          <a class="dropdown-item" href="{% url 'users:customers_list' %}">Clientes Registrados</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
          {% if user.is_superuser %}
          <a class="dropdown-item" href="{% url 'admin:login' %}">Panel de Control</a>
          {% endif %}
          <a class="dropdown-item" href="#">Configuración</a>
          <a class="dropdown-item" href="{% url 'users:logout' %}">Cerrar sesión</a>
        </div>
      </li>
    </ul>
      </ul>

    </div>   -->  


<nav class="navbar navbar-full navbar-dark navbar-base">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'users:login' %}"><h3>{{ page_title }}</h3></a>

    <ul class="nav navbar-nav float-xs-right">
      <li class="nav-item" id="link-sales">
        <a class="nav-link" href="{% url 'sales:sales' %}">Ventas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="link-new-sale">
        <a class="nav-link" href="{% url 'sales:new_sale'  %}">Nueva venta</a>
      </li>
      <li class="nav-item dropdown" id="link-kitchen">
        <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cocina</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
          <a class="dropdown-item" href="{% url 'kitchen:hot_kitchen' %}">Cocina Caliente</a>
          <a class="dropdown-item" href="{% url 'kitchen:cold_kitchen' %}">Cocina Fría</a>
          <a class="dropdown-item" href="{% url 'kitchen:assembly' %}">Ensamble</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="link-warehouse">
        <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Almacén</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
          <a class="dropdown-item" href="{% url 'products:supplies' %}">Insumos</a>
          <a class="dropdown-item" href="{% url 'products:cartridges' %}">Productos</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="link-customers">
        <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
          <a class="dropdown-item" href="{% url 'users:customers_list' %}">Clientes Registrados</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
          {% if user.is_superuser %}
          <a class="dropdown-item" href="{% url 'admin:login' %}">Panel de Control</a>
          {% endif %}
          <a class="dropdown-item" href="#">Configuración</a>
          <a class="dropdown-item" href="{% url 'users:logout' %}">Cerrar sesión</a>
        </div>
      </li>
    </ul>

  </div>
</nav>