{% extends "base/base_nav_footer.html" %}
{% load static %}
{% block link %}
	<link rel="stylesheet" href="{% static "css/flatpickr.min.css" %}">
{% endblock %}

{% block content %}

  <div class="container">
    <h1>Nuevo pedido</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-success btn-block" type="submit">
        Submit <i class="material-icons">send</i>
      </button>
    </form>
  </div>





{% endblock %}

{% block javascript %}
  <script src="{% static "js/flatpickr.min.js" %}" type="text/javascript" charset="utf-8" async defer></script>
  <script type="text/javascript" charset="utf-8">
    $(function () {
      // Flatpicker datetime http://www.jqueryrain.com/?lo_EWr2U
      $(".flatpickr").flatpickr({
        enableTime: true,
      });
    });
  </script>
{% endblock javascript %}