{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ title }}</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Suministros Integrales de Insumos es un concepto creativo y de vanguardia en el diseño de eventos y servicios a la medida relacionados con el sector de alimentos.

    SII está formado por un equipo de trabajo guiado por la honestidad y lealtad como principio de servicio. El compromiso y la pasión que SII ofrece son garantía de satisfacción total de cada uno de sus clientes.">
    <link rel="icon" href="{% static 'images/chef-icon.png' %}">
    <!-- Font style -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300|Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.8/sweetalert2.min.css">

    <!-- Icon font styles -->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% block link %}
    {% endblock link %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-flex.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles08062018_01.css' %}">

</head>
<body>
    {% block nav %}
    {% endblock %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    {% block footer %} 
    {% endblock footer %}
    

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.PrintArea.js' %}"></script>
    <script src="{% static 'js/scripts-070417.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/countdown.js' %}"></script>

    {% block javascript %}
    {% endblock javascript %}
    {% block alert %}
    {% endblock alert %}
    <!-- <script>document.write('<script src="http://'
    + (location.host || 'localhost').split(':')[0]
    + ':35729/livereload.js?snipver=1"></'
    + 'script>')</script> -->

    <script>
      $(document).ready(function() {
        $.ajax({
          type: 'post',

          url: '/branchoffices/',
          data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          success: function(result) {
            let data = result.data;


            for (let i = 0; i < data['branch_offices'].length; i++) {
              let branch_id = data['branch_offices'][i]['id'];
              let abbrev = data['branch_offices'][i]['abbrev'];
              $('#menu-service').append(
                  '<a class="dropdown-item" href="/diners/analytics-rating/' + branch_id + '/">Analytics ' + abbrev + ' </a>'
              );
            }

            for (let i = 0; i < data['branch_offices'].length; i++) {
              let branch_id = data['branch_offices'][i]['id'];
              let abbrev = data['branch_offices'][i]['abbrev'];
              $('#menu-service').append(
                  '<a class="dropdown-item" href="/diners/satisfaction-rating/' + branch_id + '/">Rating ' + abbrev + '</a>'
              );
            }

            for (let i = 0; i < data['branch_offices'].length; i++) {
              let branch_id = data['branch_offices'][i]['id'];
              let abbrev = data['branch_offices'][i]['abbrev'];
              $('#menu-service').append(
                  '<a class="dropdown-item" href="/diners/suggestions/' + branch_id + '/">Comentarios ' + abbrev + '</a>'
              );
            }

             $('#branch-office-rating-cont').append(
                 '<a class="link" href="/diners/satisfaction-rating/{{ g_branch_office.id }}">Rating</a>'
              );

          },
          error: function(error) {

          }
        });
      });
    </script>
</body>
</html>
