{% load static %}
<footer class="footer text-gray-dark">
  <div class="footer-header container-fluid">
    <div class="row">
      <div class="info-container col-xs-12 col-sm-10">
        <span class="text-muted">Made with ♥ by Digimundo</span> 
      </div>
      <div class="col-xs-12 col-sm-2 mx-auto">
        <figure>
          <img class="tesca-logo" src="{% static 'images/logo_tesca.png'%}" alt="">
        </figure>
      </div>
    </div>
  </div>
  <div class="footer-bottom container-fluid">
    <div class="row">
      <div class="address-container col-xs-12 col-sm-9">
        <span>20 de Nov. #32, San  Lucas Tepetlacalco, Tlanepantla Edo. De Méx. CP 54055</span>
      </div>
      <div class="icons-container col-xs-12 col-sm-3">
        <a href="https://www.facebook.com/Dabbawala-Desayunos-ya-685057564997672/"><span class="icon-facebook mx-auto"></span></a>
        <a href="tel:+5215542467360" onclick="alert('Agreganos a Whatsapp! \n +5215542467360')"><span class="icon-whatsapp mx-auto"></span></a>
      </div>
    </div>
  </div>
</footer>
