{% extends 'base/base_nav_footer.html' %}

{% load humanize %}
{% load static %}

{% block page_title %}
  {{ page_title }}
{% endblock %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.8/sweetalert2.min.css">
{% endblock link %}

{% block content %}

  <!-- Container -->
  <div class="container-fluid container-sales">
    <div class="row">
      <div class="col-xs-12 col-lg-3 group-sales">
        <div class="card col-sm-12 card-outline-info">
          <div class="info-sale">
            <span class="text-total left">Total: </span>
            <p class="text-xs-center">
              <span class="text-price align-top" id="s-total-price">$ </span>
              <span id="total-price">
              <span class="text-price align-top" id="int-total-price">0</span>
              <span class="point-total-price">.</span>
              <span class="text-price-decimal" id="dec-total-price">00</span>
            </span>
            </p>
          </div>
        </div>
        <div class="card col-sm-12 card-scroll-orders card-scroll card-outline-info">
          <div class="card-block products-block">
            <div class="row">
              <div class="col-xs-10 col-lg-9 col-xl-10">
                <h4>Ticket</h4>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush" id="sales-list">
          </ul>
        </div>
        <button type="button" id="btn-orders-reset" class="btn btn-danger col-xs-12 btn-lg">Cancelar Venta</button>
      </div>
      <div class="group-sales col-xs-12 col-lg-9">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="card card-block card-product-title card-outline-info">
              <h3>Complementos</h3>
            </div>
            <div class="card col-xs-12 card-scroll card-outline-info" id="group-complements">
              <div class="card-block products-block">
                {% for cartridge in cartridges %}
                  {% if cartridge.category == 'CO' %}
                    <div class="card-block product-container" id="cartridge-{{ cartridge.pk }}">
                      <h6 class="product-name">{{ cartridge.name }}</h6>
                      <img src="{{ cartridge.image.url }}" id="cartridge-img-{{ cartridge.pk }}" class="product-img" alt="Nombre de la bebida">
                      <div class="text-xs-right content-price">
                        <span class="font-weight-bold">$ </span><span class="product-cost font-weight-bold">{{ cartridge.price }}</span>
                      </div>
                      {% for extra in extra_ingredients_products_list %}
                        {% if extra.name == cartridge.name %}
                          <div class="extra-ingredients-cont">
                            <button id="btn-extra-ing-{{ cartridge.id }}" class="btn btn-outline-primary btn-extra-ing" data-toggle="modal" data-target="#extra-ingredient-modal">Ingrediente Extra</button>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="card card-block card-product-title card-outline-info">
              <h3>Platillos</h3>
            </div>
            <div class="card col-xs-12 card-scroll card-outline-info" id="group-dishes">
              <div class="card-block products-block">
                {% for cartridge in cartridges %}
                  {% if cartridge.category == 'FD' %}
                    <div class="card-block product-container" id="cartridge-{{ cartridge.pk }}">
                      <h6 class="product-name">{{ cartridge.name }}</h6>
                      <img src="{{ cartridge.image.url }}" id="cartridge-img-{{ cartridge.pk }}" class="product-img" alt="Nombre de la bebida">
                      <div class="text-xs-right content-price">
                        <span class="font-weight-bold">$ </span><span class="product-cost font-weight-bold">{{ cartridge.price }}</span>
                      </div>
                      {% for extra in extra_ingredients_products_list %}
                        {% if extra.name == cartridge.name %}
                          <div class="extra-ingredients-cont">
                            <button id="btn-extra-ing-{{ cartridge.id }}" class="btn btn-outline-primary btn-extra-ing" data-toggle="modal" data-target="#extra-ingredient-modal">Ingrediente Extra</button>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="row">
              <div class=" col-xs-12">
                <button type="button" id="btn-order" class="btn col-xs-12 btn-lg" data-toggle="modal" data-target="#modal-order">Realizar venta</button>
                <div class="card col-xs-12 card-block card-package-title card-outline-info">
                  <h3>Paquetes</h3>
                </div>
                <div class="card col-xs-12 card-scroll packages-block card-outline-info" id="group-dishes">
                  <div class="card-block">
                    {% for package in package_cartridges %}
                    <div class="card-block product-container" id="package-{{ package.pk }}">
                      <h6 class="product-name">{{ package.name }}</h6>
                      <img src="{{ package.image.url }}" id="package-img-{{ package.pk }}" class="product-img" alt="Imagen del Paquete">
                      <div class="text-xs-right content-price">
                        <span class="font-weight-bold">$ </span><span class="product-cost font-weight-bold">{{ package.price }}</span>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ticket Modal -->
  <div class="modal fade" id="modal-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Realizar venta</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="card card-scroll col-xs-4" id="printer-container">
              <div id="printer" style="margin: 0 auto">
                <figure class="content-img">
                  <img src="{% static 'images/si_black.jpg' %}" alt="logo-dabbawala">
                </figure>
                <div class="ticket-order-container text-xs-center">
                  <span>ORDEN: </span><span id="ticket-order"></span>
                </div>
                <div class="ticket-address">
                  <p class="text-xs-center">
                    Suministros integrales de insumos SA de CV. <br>
                    AV insurgentes 1647 Col. San José Insurgentes Del . Benito Juárez Cp: 03900
                  </p>
                </div>
                <div class="container ticket-datetime-container">
                  <div class="row">
                    <div class="col-xs-6 ticket-datetime">
                      <span id="ticket-time"></span>
                    </div>
                    <div class="col-xs-6 ticket-datetime">
                      <span id="ticket-date"></span>
                    </div>
                  </div>
                </div>
                <ul class="list-group list-group-flush" id="sales-list-modal">
                </ul>
                <div class="ticket-id-container">
                  <span>ID: </span><span id="ticket-id"></span>
                </div>
                <div class="ticket-contact">
                  <p class="text-xs-center">
                    Contacto:<br>
                    (55) 41 22 69 00 <br>
                    contacto@suministrosintegrales.mx <br>
                  </p>
                  <p class="text-xs-center mt-1">
                    <strong>¡GRACIAS POR SONREIR! <span class="smile">☺</span></strong> <br>
                  </p>
                </div>
              </div>
            </div>
            <div class="card card-scroll" id="ticket-description">
              <h3>No olvides recordarle al cliente las promociones</h3>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <button type="submit" id="btn-pago-tarjeta" class="btn btn-primary col-xs-4 push-xs-3 btn-printer">Pago con tarjeta</button>
              <button type="submit" id="btn-pago-efectivo" class="btn btn-success col-xs-4 push-xs-4 btn-printer">Pago con efectivo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Extra Ingredients Modals -->
  <div class="modal fade" id="extra-ingredient-modal" tabindex="-1" role="dialog" aria-labelledby="extra-ingredient-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="extra-ingredient-modal-label">Ingredientes Extra</h3>
        </div>
        <div class="modal-body">
          <ul class="list-unstyled list-group">
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button id="btn-add-extra-ingredient" type="button" class="btn btn-primary">Agregar Ingredientes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.8/sweetalert2.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      let Ticket = {
        cartuchos: [],
        paquetes: [],
        payment_type: 'cash', 
      }

      let PackageProduct = {
        id: [],
        cost: null,
      }

      let ExtraIngredientsProducts = {
        extra_ingredients_products_list : {{ extra_ingredients_products_list |safe }},
      }

      let ExtraIngredientObject = {
        'product_id': null,
        'name': null,
        'ingredients': [],
      }

      function get_cookie(name) {
        var cookie_value = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookie_value = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookie_value;
      }

      function set_number_format(amount, decimals) {
        amount = parseFloat(amount);

        if (amount % 2 != 0) {
          amount = amount.toFixed(decimals);
        } else {
          amount += '.';

          for(var i = 0; i < decimals; i++) {
            amount += '0';
          }
        }
        return amount;
      }

      /** Suma los totales en la lista y los envía al total general */
      function set_total_ticket(){
        let total = 0;

        $('ul li').find('span.total-li').each(function() {
            var new_total_ticket = $(this).text();
            total += parseFloat(new_total_ticket);
          });
          var total_arrya = total.toFixed(2).split('.');
          $('#total-price').html("" +
            "<span class='text-price align-top' id='int-total-price'>" + total_arrya[0] + "</span>" +
            "<span class='point-total-price'>.</span>" +
            "<span class='text-price-decimal' id='dec-total-price'>" + total_arrya[1] + "</span>"
          );
      }

      /** Returns the product type initials */
      function get_type_product(large_type_id){
        large_type_id = large_type_id.substring(3,7);
        return large_type_id;
      }

      /** 
       * Displays the modal of the extra ingredients 
       * for each product that has them
       */
      $(this).on('click', '.btn-extra-ing', function(event) {
        var id = $(this).parents('.product-container').attr('id');
        var element_id = $(this).attr('id').substring(14);
        var element_name = $(this).parent().siblings('.product-name').text();
        var element_cost_base = $(this).parent().siblings('.content-price').find('.product-cost').text();
        var products_list = ExtraIngredientsProducts['extra_ingredients_products_list'];
        /**
         * Manages the extra ingredients modal buttons
         */
        if (ExtraIngredientObject['ingredients'].length == 0) {
          $('#btn-add-extra-ingredient').attr('disabled', true);
        } else {
          $('#btn-add-extra-ingredient').attr('disabled', false);
        }

        /**
         * Resets the ExtraIngredientObject
         */
        ExtraIngredientObject['large_id'] = id;
        ExtraIngredientObject['product_id'] = element_id;
        ExtraIngredientObject['ingredients'].length = 0;
        ExtraIngredientObject['name'] = element_name;
        ExtraIngredientObject['cost_base'] = element_cost_base;

        for (var i = 0; i < products_list.length; i++) {
          if (element_id == products_list[i].id) {
            var list_group = $('#extra-ingredient-modal .modal-body').find('.list-group');
            var extra_ingredients_object = products_list[i];
            list_group.empty();

            for (var j = 0; j < extra_ingredients_object['extra_ingredients'].length; j++) {
              extra_ingredient = extra_ingredients_object['extra_ingredients'][j];
              var new_ingredient = $("" +
                "<li id='extra-ingredient-id-" + extra_ingredient.id + "' class='media list-group-item list-group-item-action row extra-ingredient-li'>" +
                " <img class='img-extra-ing col-xs-4' src='"+extra_ingredient.image+"' alt='Extra Ingredient Image'>" +
                " <div class='media-body col-xd-6'>" +
                " <h5 class='mt-0 mb-1 ingredient-name'>" + extra_ingredient.name + "</h5>" +
                " <h3><span class='cost-simbol'>$ </span><span class='number-cost'>" + extra_ingredient.cost + "</span></h3>" +
                " </div>" +
                "</li> " +
                "")
              new_ingredient.appendTo(list_group);
            };
            break;
          }
        };
      });

      /**
       * Manipulates the extra ingredients list in ExtraIngredientObject
       */
      $(this).on('click', '.extra-ingredient-li', function(event) {
        var element  = $(this);
        var element_id = element.attr('id').substring(20);
        var element_name = element.find('.ingredient-name').text();
        var element_cost = element.find('.number-cost').text();

        if (element.hasClass('selected-li')) {
          element.removeClass('selected-li');
        } else {
          element.addClass('selected-li');
        }

        if (ExtraIngredientObject['ingredients'].length == 0) {
          var IngredientObject = {
            'id': element_id,
            'name': element_name,
            'cost': element_cost,
          }
          ExtraIngredientObject['ingredients'].push(IngredientObject);
        } else {
          var element_exists = false;
          for (var i = 0; i < ExtraIngredientObject['ingredients'].length; i++) {
            var ingredient_object = ExtraIngredientObject['ingredients'][i];
            if (ingredient_object.id == element_id) {
              ExtraIngredientObject['ingredients'].splice(i,1);
              element_exists = true;
            }
          };
          if (!element_exists) {
            var IngredientObject = {
              'id': element_id,
              'name': element_name,
              'cost': element_cost,
            }
            ExtraIngredientObject['ingredients'].push(IngredientObject);
          }
        }

        if (ExtraIngredientObject['ingredients'].length >0) {
          $('#btn-add-extra-ingredient').attr('disabled',false);
        } else {
          $('#btn-add-extra-ingredient').attr('disabled',true);
        };
        console.log(ExtraIngredientObject);        
      });

      /** 
       * Adds the product with the extra ingredients to the list
       */
      $(this).on('click', '#btn-add-extra-ingredient', function(event) {
        var element = $(this);

        function addObjectToJSON(id, quantity, price, type_object) {
          if (type_object == 'cartridge') {
            if (id.indexOf('cartridge') >= 0) {
              id = id.replace('cartridge-', '');

              /** Itera la lista de cartuchos */
              function findIdCartucho(cartucho) {
                return cartucho.id == id;
              }
              if (!Ticket.cartuchos.find(findIdCartucho)) { // Si no existe
                nuevo_cartucho = {}
                nuevo_cartucho.id = id;
                nuevo_cartucho.quantity = quantity;
                nuevo_cartucho.price = price;
                Ticket.cartuchos.push(nuevo_cartucho);

              } else {
                mi_cartucho = Ticket.cartuchos.find(findIdCartucho);
                mi_cartucho.quantity = quantity;
                mi_cartucho.price = price;
              }
            }
          } else if (type_object == 'package'){
            if (id.indexOf('package') >= 0) {
              id = id.replace('package-', '');

              /** Itera la lista de paquetes */
              function findIdPaquete(paquete) {
                return paquete.id == id;
              }
              if (!Ticket.paquetes.find(findIdPaquete)) { // Si no existe
                nuevo_paquete = {}
                nuevo_paquete.id = id;
                nuevo_paquete.quantity = quantity;
                nuevo_paquete.price = price;
                Ticket.paquetes.push(nuevo_paquete);

              } else {
                mi_paquete = Ticket.paquetes.find(findIdPaquete);
                mi_paquete.quantity = quantity;
                mi_paquete.price = price;
              }
            }
          }
        }

        function addObjectToTicket(){
          var name = ExtraIngredientObject['name'];
          var extra_ingredients_name = 'Extra:';
          var cost_base = parseFloat(ExtraIngredientObject['cost_base']);
          var cost = cost_base;
          var quantity;
          var id = ExtraIngredientObject['large_id'];
          var li_id = ('li-' + id).toString();
          var type_object = ExtraIngredientObject['large_id'].split('-')[0];

          /**
           * Concatenates the id's of the extra ingredients
           */
          for (var i = 0; i < ExtraIngredientObject['ingredients'].length; i++) {
            li_id += '-' + ExtraIngredientObject['ingredients'][i].id;
          };

          /**
           * Calculates all extra ingredients names
           */
          for (var i = 0; i < ExtraIngredientObject['ingredients'].length; i++) {
            extra_ingredients_name += ExtraIngredientObject['ingredients'][i].name;
            if (i != ExtraIngredientObject['ingredients'].length - 1) {
              extra_ingredients_name += ' - ';
            };
          };

          quantity = $('ul#sales-list').find('#' + li_id + ' .quantity-li').text();
          if ($('#' + li_id + '').length != 0) { // If exists
            quantity++;
            for (var i = 0; i < ExtraIngredientObject['ingredients'].length; i++) {
              cost_base += parseFloat(ExtraIngredientObject['ingredients'][i].cost);
            };
            cost = cost_base * quantity;

            if (cost % 2 != 0) {
              cost = cost.toFixed(2);
            } else {
              cost += '.00';
            }

            $('ul#sales-list').find('#' + li_id + ' span.quantity-li').text(quantity);
            $('ul#sales-list').find('#' + li_id + ' span.total-li').text(cost);

          } else { // If not exists
            quantity = 1;

            for (var i = 0; i < ExtraIngredientObject['ingredients'].length; i++) {
                cost_base += parseFloat(ExtraIngredientObject['ingredients'][i].cost);
            };

            if (cost_base % 2 != 0) {
              cost_base = cost_base.toFixed(2);
            } else {
              cost_base += '.00';
            }

            nuevo_li = $("" +
              "<li id='" + li_id + "' class='list-group-item extra-ingredient-li-ticket'>" +
              "<span class='name-li text-uppercase'>" + name + "</span> " +
              "<span class='cost-base-li'>" + cost_base + "</span>" +
              "<span class='remove-icon-li'><i class='material-icons'>remove</i></span>" +
              "<span class='quantity-li'>" + quantity + "</span>" +
              "<span class='add-icon-li'><i class='material-icons'>add</i></span>" +
              "<span class='font-weight-bold s-li'>$ </span>" +
              "<span class='total-li font-weight-bold'>" + cost_base + "</span>" +
              "<span class='extra-ingredients-name-li'>" + extra_ingredients_name + "</span>" +
              "</li>");
            nuevo_li.appendTo('#sales-list').fadeTo('slow', 1);
          }

          /** Modificacion del total general */
          set_total_ticket();

          //addObjectToJSON(id, quantity, cost, type_object);
        }

        addObjectToTicket();
       $('#extra-ingredient-modal').modal('hide');
      });

      /** Adds a product to ticket list */
      $(this).on('click', '.product-img', function(event) {
        var product_type = $(this).attr('id');
        var element = $(this);

        function addObjectToJSON(id, quantity, price, type_object) {
          if (type_object == 'cartridge') {
            if (id.indexOf('cartridge') >= 0) {
              id = id.replace('cartridge-', '');

              /** Itera la lista de cartuchos */
              function findIdCartucho(cartucho) {
                return cartucho.id == id;
              }
              if (!Ticket.cartuchos.find(findIdCartucho)) { // Si no existe
                nuevo_cartucho = {}
                nuevo_cartucho.id = id;
                nuevo_cartucho.quantity = quantity;
                nuevo_cartucho.price = price;
                Ticket.cartuchos.push(nuevo_cartucho);

              } else {
                mi_cartucho = Ticket.cartuchos.find(findIdCartucho);
                mi_cartucho.quantity = quantity;
                mi_cartucho.price = price;
              }
            }
          } else if (type_object == 'package'){
            if (id.indexOf('package') >= 0) {
              id = id.replace('package-', '');

              /** Itera la lista de paquetes */
              function findIdPaquete(paquete) {
                return paquete.id == id;
              }
              if (!Ticket.paquetes.find(findIdPaquete)) { // Si no existe
                nuevo_paquete = {}
                nuevo_paquete.id = id;
                nuevo_paquete.quantity = quantity;
                nuevo_paquete.price = price;
                Ticket.paquetes.push(nuevo_paquete);

              } else {
                mi_paquete = Ticket.paquetes.find(findIdPaquete);
                mi_paquete.quantity = quantity;
                mi_paquete.price = price;
              }
            }
          }
        }

        function addObjectToTicket(){
          let name = element.siblings('.product-name').text();
          let cost_base = parseFloat(element.siblings('.content-price').children('.product-cost').text());
          let cost = cost_base;
          let id = element.parent().attr('id');
          let li_id = ('li-' + id).toString();
          let quantity = $('ul#sales-list').find('#' + li_id + ' .quantity-li').text();
          let type_object = element.parent().attr('id').split('-')[0];

          if ($('#' + li_id + '').length != 0) {
            quantity++;

            cost = cost * quantity;
            if (cost % 2 != 0) {
              cost = cost.toFixed(2);
            } else {
              cost += '.00';
            }

            $('ul#sales-list').find('#' + li_id + ' span.quantity-li').text(quantity);
            $('ul#sales-list').find('#' + li_id + ' span.total-li').text(cost);

          } else {
            quantity = 1;

            if (cost % 2 != 0) {
              cost = cost.toFixed(2);
            } else {
              cost += '.00';
            } 

            if (cost_base % 2 != 0) {
              cost_base = cost_base.toFixed(2);
            } else {
              cost_base += '.00';
            }

            $nuevo_li = $("" +
              "<li id='" + li_id + "' class='list-group-item'>" +
              "<span class='name-li text-uppercase'>" + name + "</span> " +
              "<span class='cost-base-li'>" + cost_base + "</span>" +
              "<span class='remove-icon-li'><i class='material-icons'>remove</i></span>" +
              "<span class='quantity-li'>" + quantity + "</span>" +
              "<span class='add-icon-li'><i class='material-icons'>add</i></span>" +
              "<span class='font-weight-bold s-li'>$ </span>" +
              "<span class='total-li font-weight-bold'>" + cost + "</span> " +
              "</li>");
            
            $nuevo_li.appendTo('#sales-list').fadeTo('slow', 1);

          }

          /** Modificacion del total general */
          set_total_ticket();

          addObjectToJSON(id, quantity, cost, type_object);
        }

        addObjectToTicket();
      });

      $(this).on('click', '.remove-icon-li', function(event) {
        let element = $(this);
        let quantity_product = element.siblings('.quantity-li').text();
        let quantity_product_container = element.siblings('.quantity-li');
        let cost_base_product = element.siblings('.cost-base-li').text();
        let total_product = element.siblings('.total-li').text();
        let total_product_container = element.siblings('.total-li');
        let total_ticket = 0;
        let total_ticket_container = element.siblings('.int-total-price');
        let id_cartridge = element.parent().attr('id').substring(13);
        let id_package = element.parent().attr('id').substring(11);
        let large_type_id = element.parent().attr('id').toString();
        var count = 0;

        /** Refresh total ticket. Removes the product from the tiket list*/
        if (quantity_product == 1) {
          element.parent().remove(); // Removes from DOM

          /** Modification of total from ticket */
          set_total_ticket();


          /** Removes cartridge from ticket JSON */

          Ticket.cartuchos.forEach(function(cartridge_object) {
            if (cartridge_object.id == id_cartridge) {
              Ticket.cartuchos.splice(count, 1);
            };
            count += 1;
          });
         
          Ticket.paquetes.forEach(function(package_object){
            if (package_object.id == id_package){
              Ticket.paquetes.splice(count, 1);
            };
            count += 1;
          });
        } else { /*Segunda funcionalidad en el botón '-' del carrito de compras*/

          function set_total_li(new_total) {
            total_product_container.text(new_total);
          }

          function set_quantity_li(new_quantity) {
            quantity_product_container.text(new_quantity);
          }

          /**
           * Modifies the total and quantity in Ticket DOM and TicketJSON
           */

          /**
           * Define StopIteration as part of the global scope if it
           * isn't already defined.
           */
          if(typeof StopIteration == "undefined") {
            StopIteration = new Error("StopIteration");
          }

        try {
          var short_type_id = get_type_product(large_type_id);
          
          if(short_type_id == 'cart'){
            Ticket.cartuchos.forEach(function(cartridge_object, index) {

              if (cartridge_object.id == id_cartridge) {

                var price_JSON = parseFloat(Ticket.cartuchos[index].price);
                var quantity_JSON = parseFloat(Ticket.cartuchos[index].quantity);

                // Modifies the ticket JSON               
                Ticket.cartuchos[index].quantity -= 1;
                Ticket.cartuchos[index].price = set_number_format(price_JSON - cost_base_product, 2);

                // Modifies the Ticket DOM
                var new_total_li = 0;
                new_total_li = Ticket.cartuchos[index].price;
                set_quantity_li(Ticket.cartuchos[index].quantity);
                set_total_li(new_total_li);
                throw  StopIteration;
              }
            });
          } else if(short_type_id == 'pack') {

            Ticket.paquetes.forEach(function(package_object, index) {

                if (package_object.id == id_package) {


                  var price_JSON = parseFloat(Ticket.paquetes[index].price);
                  var quantity_JSON = parseFloat(Ticket.paquetes[index].quantity);

                  // Modifies the ticket JSON               
                  Ticket.paquetes[index].quantity -= 1;
                  Ticket.paquetes[index].price = set_number_format(price_JSON - cost_base_product, 2);

                  // Modifies the Ticket DOM
                  var new_total_li = 0;
                  new_total_li = Ticket.paquetes[index].price;
                  set_total_li(new_total_li);
                  set_quantity_li(Ticket.paquetes[index].quantity);

                  throw  StopIteration;
                }
            });
          }
        } catch (error) {
            if(error !== StopIteration){
              throw error;
            }
          }

          /**
           * Modifies the total for Ticket DOM
           */
          $('ul li').find('span.total-li').each(function() {
            total_ticket = 0;
            var total_span_li = $(this).text();
            total_ticket += parseFloat(total_span_li);
          });
          var total_array = total_ticket.toFixed(2).split('.')
          $('#total-price').html("" +
            "<span class='text-price align-top' id='int-total-price'>" + total_array[0] + "</span>" +
            "<span class='point-total-price'>.</span>" +
            "<span class='text-price-decimal' id='dec-total-price'>" + total_array[1] + "</span>"
          );

          /* Ticket.cartuchos.forEach(function(cartridge_object){
           if(cartridge_object.id == id_product){
           Ticket.cartuchos.splice(count, 1);
           };
           count += 1;
           }); */
          var total_ticket_split = total_ticket.toFixed(2).split('.');

          $('#total-price').html("" +
            "<span class='text-price align-top' id='int-total-price'>" + total_ticket_split[0] + "</span>" +
            "<span class='point-total-price'>.</span>" +
            "<span class='text-price-decimal' id='dec-total-price'>" + total_ticket_split[1] + "</span>"
          );
        }

         /**
         * Modifies the total for Ticket DOM,
         */
        set_total_ticket();
      });

      $(this).on('click', '.add-icon-li', function(event) {
        let element = $(this);
        let quantity_product = element.siblings('span.quantity-li').text();
        let quantity_product_container = element.siblings('span.quantity-li');
        let cost_base_product = parseFloat(element.siblings('span.cost-base-li').text());
        let total_product = element.siblings('span.total-li').text();
        let total_product_container = element.siblings('span.total-li');
        let total_ticket = 0;
        let total_ticket_container = element.siblings('span.int-total-price');
        let id_cartridge = element.parent().attr('id').substring(13);
        let id_package = element.parent().attr('id').substring(11); 
        //let id_package = 1;
        let large_type_id = element.parent().attr('id').toString()

        function set_total_li(new_total) {
          total_product_container.text(new_total);
        }

        function set_quantity_li(new_quantity) {
          quantity_product_container.text(new_quantity);
        }

        /**
         * Modifies the total and quantity in Ticket DOM and TicketJSON
         */

        /**
         * Define StopIteration as part of the global scope if it
         * isn't already defined.
         */
        if(typeof StopIteration == "undefined") {
          StopIteration = new Error("StopIteration");
        }
        try {
          var short_type_id = get_type_product(large_type_id);
          
          if(short_type_id == 'cart'){
            Ticket.cartuchos.forEach(function(cartridge_object, index) {

              if (cartridge_object.id == id_cartridge) {

                var price_JSON = parseFloat(Ticket.cartuchos[index].price);
                var quantity_JSON = parseFloat(Ticket.cartuchos[index].quantity);

                // Modifies the ticket JSON               
                Ticket.cartuchos[index].quantity += 1;
                Ticket.cartuchos[index].price = set_number_format(price_JSON + cost_base_product, 2);

                // Modifies the Ticket DOM
                var new_total_li = 0;
                new_total_li = Ticket.cartuchos[index].price;
                set_quantity_li(Ticket.cartuchos[index].quantity);
                set_total_li(new_total_li);


                throw  StopIteration;
              }
            });
          } else if(short_type_id == 'pack') {
            Ticket.paquetes.forEach(function(package_object, index) {

                if (package_object.id == id_package) {


                  var price_JSON = parseFloat(Ticket.paquetes[index].price);
                  var quantity_JSON = parseFloat(Ticket.paquetes[index].quantity);

                  // Modifies the ticket JSON               
                  Ticket.paquetes[index].quantity += 1;
                  Ticket.paquetes[index].price = set_number_format(price_JSON + cost_base_product, 2);

                  // Modifies the Ticket DOM
                  var new_total_li = 0;
                  new_total_li = Ticket.paquetes[index].price;
                  set_total_li(new_total_li);
                  set_quantity_li(Ticket.paquetes[index].quantity);

                  throw  StopIteration;
                }
            });
          }
        } catch (error) {
          if(error !== StopIteration) {
            throw error;
          }
        }
        
        /** Modifies the total for Ticket DOM */
         
        set_total_ticket();
      });

      /** Adds the package to modal */
      $(this).on('click', '#btn-add-package', function(event) {

        var product_type = $(this).attr('id');
        var element = $(this);

        function addProductToJSON(id_list, name, quantity, price) {
          new_package = {}
          new_package.id_list = []
          new_package.quantity = quantity;
          new_package.price = price;
          new_package.name = name;
          Ticket.paquetes.push(new_package);

          id_list.forEach(function(element) {
            new_package.id_list.push(element);
          });

          $('.modal-head-prod-name').empty();
          PackageProduct.id.length = 0;

        }

        function addProductToTicket() {
          package_name_list = [];
          package_name_list_string = "";
          package_name_string = "";

          header_1 = $('#modal-prod-head-1').text().trim();
          header_2 = $('#modal-prod-head-2').text().trim();
          header_3 = $('#modal-prod-head-3').text().trim();

          package_name_string += header_1 + ' ' + header_2 + ' ' + header_3;

          package_name_list.push(header_1.split(' ', 1));
          package_name_list.push(header_2.split(' ', 1));
          package_name_list.push(header_3.split(' ', 1));

          package_name_list.forEach(function(package_name) {
            package_name.forEach(function(word) {
              package_name_list_string += word.substring(0, 3) + ' ';
            });
          });

          let cost_base = PackageProduct.cost;
          let cost = cost_base;
          let id = element.parent().attr('id');
          let li_id = PackageProduct.id;
          let quantity = 1;
          let total = 0;

          $nuevo_li = $("" +
            "<li class='list-group-item'>" +
            "<span class='name-li text-uppercase'>" + package_name_list_string + "</span> " +
            "<span class='cost-base-li'>" + cost_base + "</span>" +
            "<span class='remove-icon-li'><i class='material-icons'>remove</i></span>" +
            "<span class='quantity-li'>" + quantity + "</span>" +
            "<span class='add-icon-li'><i class='material-icons'>add</i></span>" +
            "<span class='font-weight-bold s-li'>$ </span>" +
            "<span class='total-li font-weight-bold'>" + cost + "</span> " +
            "</li>");
          $nuevo_li.appendTo('#sales-list').fadeTo('slow', 1);

          /** Modificacion del total general */
          $('ul li').find('.total-li').each(function() {
            re = $(this).text()
            total += parseFloat(re)
          });

          var arreglo = total.toFixed(2).split('.')
          $('#total-price').html("" +
            "<span class='text-price align-top' id='int-total-price'>" + arreglo[0] + "</span>" +
            "<span class='point-total-price'>.</span>" +
            "<span class='text-price-decimal' id='dec-total-price'>" + arreglo[1] + "</span>"
          );

          addProductToJSON(li_id, package_name_string, quantity, cost);

        }

        addProductToTicket();
      });

      /** Despliega el modal para realizar la venta */
      $(this).on('click', '#btn-order', function(event) {
        function getActualTime() {
          var datetime = new Date();
          var hours = datetime.getHours();
          var minutes = datetime.getMinutes();
          var seconds = datetime.getMinutes();

          var hours_f = (hours < 10) ? '0' + hours : hours;
          var minutes_f = (minutes < 10) ? '0' + minutes : minutes;
          var seconds_f = (seconds < 10) ? '0' + seconds : seconds;

          var actual_time = hours_f + ":" + minutes_f + ":" + seconds_f;

          return actual_time;
        }

        function getActualDate() {
          var datetime = new Date();
          var day = datetime.getDate();
          var month = datetime.getMonth() + 1;
          var year = datetime.getFullYear();

          var day_f = (day < 10) ? '0' + day : day;
          var month_f = (month < 10) ? '0' + month : month;

          var actual_date = day_f + "/" + month_f + "/" + year;

          return actual_date;
        }

        $("#ticket-time").text(getActualTime());
        $("#ticket-date").text(getActualDate());

        $('#sales-list-modal').empty();

        $nuevo_li = $("" +
          "<li>" +
          "<span class='name-li-title-modal'>Nombre</span> " +
          "<span class='cost-li-title-modal'>Cost</span>" +
          "<span class='quantity-li-title-modal'>Cant</span>" +
          "<span class='total-li-title-modal'>Total</span> " +
          "</li>");

        $nuevo_li.appendTo('#sales-list-modal');

        $('#sales-list li').each(function() {
          let name = $(this).find('.name-li').text();
          let cost_base = $(this).find('.cost-base-li').text();
          let quantity = $(this).find('.quantity-li').text();
          let total = $(this).find('.total-li').text();
          let id = $(this).attr('id');
          let li_id = (id + '-modal').toString();

          /** Acorta el nombre */
          name = name.split(' ');
          $.each(name, function(index, item) {
            name[index] = item.substring(0, 3);
          });

          name = name.toString().replace(',', ' ');
          name = name.replace(/,/g, ' ');

          $nuevo_li = $("" +
            "<li id='" + li_id + "' class='list-group-item'>" +
            "<span class='name-li-modal text-uppercase'>" + name + "</span> " +
            "<span class='cost-li-modal'>" + '$ ' + cost_base + "</span>" +
            "<span class='quantity-li-modal'>" + quantity + "</span>" +
            "<span class='total-li-modal'>" + '$ ' + total + "</span> " +
            "</li>");

          $nuevo_li.appendTo('#sales-list-modal');
        });

        let total_ticket = $('#total-price').text();

        $nuevo_li = $("" +
          "<li class='total-ticket-container'>" +
          "<span id='total-ticket'>" + "$ " + total_ticket + "</span> " +
          "</li>");

        $nuevo_li.appendTo('#sales-list-modal');

        function setButtonStatus(length) {
          if (length <= 2) {
            $('.btn-printer').attr('disabled', true);
          } else {
            $('.btn-printer').attr('disabled', false);
          }
        }

        var size_tickets = $('#sales-list-modal li').length;
        setButtonStatus(size_tickets);
      });

      /** Despliega el modal para realizar la venta */
      $(this).on('click', '#package-img', function(event) {
        element = $(this);
        price = element.parent().find('span.product-cost').text();
        PackageProduct.cost = price;
      });

      /** Realizar la venta e imprimir ticket */
      $(this).on('click', '.btn-printer', function(event) {
        var payment_type = $(this).attr('id');
        var ticket_list = $('#sales-list-modal li');
        var csrf_token = get_cookie('csrftoken');

        if (payment_type == 'btn-pago-efectivo') {
          Ticket['payment_type'] = 'CA';  // Cash Payment
          make_a_sale();
        } else {
          Ticket['payment_type'] = 'CR'; // Credit Payment

          var creedit_sale = new Promise(function (resolve) {
            setTimeout(function () {
              make_a_sale();
            }, 20000)
          })


          swal({
            title: 'Esperando Aprobación de la terminal',
            inputOptions: creedit_sale,
          }).then(function (result) {
            swal({
              type: 'Venta Procesada',
            })
          });
          swal.enableLoading();
        }

        function rel() {
          location.reload();
        }

        function make_a_sale() {
          if (ticket_list.length > 2) {
            JSONTicket = JSON.stringify(Ticket);
            $.ajax({
              url: '{% url "sales:new_sale" %}',
              type: 'POST',
              data: {
                'ticket': JSONTicket,
                csrfmiddlewaretoken: csrf_token,
              },
              traditional: true,
              datatype: 'jsonp',
              success: function(result) {
                swal({
                  title: "Éxito",
                  text: "Venta realizada",
                  type: "success",
                  showConfirmButton: false,
                });
                $('#btn-pago-efectivo').attr('disabled', 'true');
                $('#btn-pago-tarjeta').attr('disabled', 'true');
                $('.ticket-id-container').find('span#ticket-id').text(result.ticket_id);
                $('.ticket-order-container').find('#ticket-order').text(result.ticket_order);
                console.log($('.ticket-id-container').find('span#ticket-order').text());
                var options = {
                  mode: 'iframe',
                  popClose: true,
                };
                $("#printer").printArea(options);
                setTimeout(rel, 1500);
              },
              error: function(result, jqXHR, textStatus, errorThrown) {
                swal({
                  title: "Venta no realizada!",
                  text: 'Contacte a soporte!\n ' + 'Errores: ' + textStatus + ', ' + jqXHR,
                  type: "error",
                  showConfirmButton: false
                });
                setTimeout(rel, 3000);
              },
            });
          };
        }
      });

      /** Cancelar Venta - Resetear ticket */
      $(this).on('click', '#btn-orders-reset', function(event) {
        function resetTicketObject() {
          Ticket.cartuchos.length = 0;
          Ticket.paquetes.length = 0;
          PackageProduct.id.length = 0;
        }

        function resetTicketList() {
          swal({
            title: "Venta Cancelada!",
            type: "error",
            timer: 700,
            showConfirmButton: false
          });
          $('#sales-list').empty();
          $('#total-price').html("" +
            "<span class='text-price align-top' id='int-total-price'>0</span>" +
            "<span class='point-total-price'>.</span>" +
            "<span class='text-price-decimal' id='dec-total-price'>00</span>"
          );
          $('.modal-head-prod-name').empty();
        }
        resetTicketList();
        resetTicketObject();
      });
    });
  </script>

{% endblock javascript %}