{% extends 'base/base_nav_footer.html' %}
{% load static %}

{% block link %}
  <!-- Bootstrap Date-Picker Plugin -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}
{% block content %}
  <div class="container-fluid analytics-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-xs-right mb-2">
          <form method="get" class="form-inline">
            {% csrf_token %}
            <div class="form-group"> <!-- Date input -->
              <label class="control-label" for="date">Fecha</label>
              <input class="form-control" id="date" name="date" placeholder="AAAA/MM/DD" type="text" autocomplete="off"/>
            </div>
            <div class="form-group"> <!-- Submit button -->
              <button class="btn btn-primary " name="submit" type="submit">Filtrar</button>
            </div>
          </form>
          <!-- Form code ends -->
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 charts-container">
      <div class="col-xs-12">
        <div class="col-xs-12 col-lg-6 col-xl-5 mb-3 week-suggestions-chart">
          <div class="canvas-holder">
            <canvas id="canvas-week-reactions"></canvas>
          </div>
            <div class="canvas-holder mt-3">
            <canvas id="canvas-general-suggestions"></canvas>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 col-xl-7 mb-3 elements-analytics-container">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="ck-center">Rating diario</h3>
            </div>
          </div>
          <div class="row elements-header">
            <div class="col-xs-6 col-lg-3  element-name-cont">
              <span class="element-name element-red">Enojado</span>
            </div>
            <div class="col-xs-6 col-lg-3 element-name-cont">
              <span class="element-name element-yellow">Triste</span>
            </div>
            <div class="col-xs-6 col-lg-3 element-name-cont">
              <span class="element-name element-blue">Alegre</span>
            </div>
            <div class="col-xs-6 col-lg-3 element-name-cont">
              <span class="element-name element-green">Encantado</span>
            </div>
          </div>
          <div class="charts-container row mt-2">
            <div class="canvas-holder doughnut-chart col-xs-12 col-md-6 col-xl-3 mb-3">
                <canvas id="canvas-element-total" width="500" height="500"></canvas>
              </div>
            {% for element in elements %}
              <div class="canvas-holder doughnut-chart col-xs-12 col-md-6 col-xl-3 mb-3" >
                <canvas id="canvas-element-{{element.id}}" width="400" height="400"></canvas>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
<div id="bounce-cont">
  <span class="msg-bounce">Generando Gráficas</span>
  <div class="sk-double-bounce">
    <div class="sk-child sk-double-bounce1"></div>
    <div class="sk-child sk-double-bounce2"></div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

  <script src="{% static 'js/Chart.bundle.2.7.2.min.js' %}" defer></script>

  <script type="text/javascript" charset="utf-8" defer>
    $(function() {
      let reactions_week = JSON.parse('{{ reactions_week | safe }}'),
          suggestions_week = JSON.parse('{{ suggestions_week | safe }}'),
          diners_week = JSON.parse('{{ diners_week | safe }}'),
          elements_to_evaluate = [], // Reactions dat,
          ctx_week_reactions = document.getElementById("canvas-week-reactions"),
          ctx_general_suggestions = document.getElementById("canvas-general-suggestions"),
          ctx_reactions = [], // reactions elements charts (DOM)
          elements_charts = [], // // reaction elements charts (Chart Objects)
          todayDateObject = new Date(),
          today_date,
          reactions_week_chart,
          reactions_general_chart;

      let date_input=$('input[name="date"]'); //our date input has the name "date"
      let container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      let options={
        format: 'yyyy/mm/dd',
        container: container,
        language: "es",
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);

      {% for element in elements %}
        elements_to_evaluate.push({
          'id': '{{ element.id }}',
          'name': '{{ element.element }}',
        });
      {% endfor %}

      for (let i = 0; i <= {{ total_elements }}; i++) {
        if (i === {{ total_elements }}) {
          ctx_reactions.push(document.getElementById('canvas-element-total'));
        } else {
          let element_id = elements_to_evaluate[i].id;
          element_id = "canvas-element-" + element_id;
          ctx_reactions.push(document.getElementById(element_id));
        }
      }

      /**
       * Returns a list with the rates quantity ot the week per day in the days to set
       */
      function get_rates_week_range(rates_list){
        let week_list = [0, 0, 0, 0, 0, 0, 0];
        for (let i = 0; i < 7; i++) {
          for (let j = 0; j < rates_list.length; j++) {
            if (rates_list[j]['number_day'] === i) {
              week_list[i] = parseInt(rates_list[j]['total_rates']);
            }
          }
        }
        return week_list;
      }

      /**
       * Returns a list with the rates quantity ot the week per day in the days to set
       */
      function get_suggestions_week_range(suggestions_list){
        let week_list = [0, 0, 0, 0, 0, 0, 0];
        for (let i = 0; i < 7; i++){
          for (let j = 0; j < suggestions_list.length; j++){
            if (suggestions_list[j]['number_day'] === i) {
              week_list[i] = parseInt(suggestions_list[j]['total_suggestions']);
            }
          }
        }
        return week_list;
      }

      function get_rates_week_list() {
        let rates_list = [];
        let count = 0;

        while (count < reactions_week.length) {
          rates_list.push(parseFloat(reactions_week[count]['total_rates']));
          count++;
        }
        return rates_list;
      }

      function get_suggestions_week_list() {
        let resultArray = [0,0,0,0];
        $.ajax({
          url: '/diners/analytics-rating/{{ branch_id }}/',
          type: 'post',
          async: false,
          datatype: 'jsonp',
          data: {
            type: 'general_ratings',
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          success: function (result) {
            result = result['data'];
            for(let i = 0; i < result.length; i++) {
              if (result[i]['satisfaction-rating'] === 1) {
                resultArray[0] = result[i]['total'];
              } else if (result[i]['satisfaction-rating'] === 2) {
                resultArray[1] = result[i]['total'];
              } else if (result[i]['satisfaction-rating'] === 3) {
                resultArray[2] = result[i]['total'];
              } else if (result[i]['satisfaction-rating'] === 4) {
                resultArray[3] = result[i]['total'];
              }
            }
          },
          error: function(result) {
            console.log(result);
          },
        });
        return resultArray;
      }

      /**
       * Get's the suggestions of the selected day in week chart and
       * show the results in reactions day chart
       */
      function set_reactions_day_chart(date) {
        $.ajax({
          url: "{% url 'diners:analytics' branch_id %}",
          type: 'POST',
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'date': date,
            'type': 'reactions_day',
          },
          traditional: true,
          datatype: 'jsonp',
          beforeSend: function(){},
          success: function(result) {
            $('#bounce-cont').hide(1000);

            for(let i = 0; i <= {{ total_elements }}; i++) {
              let is_empty = true;

              if ( i === {{ total_elements }}) {
                for (let j = 0; j < 4; j++) {
                  elements_charts[i].data.datasets[0].data[j] = result['total_reactions'].reactions[j].quantity;
                }

              } else {
                /**
                 * Sets the doughnuts with the new values
                 */
                for (let j = 0; j < 4; j++) {
                  elements_charts[i].data.datasets[0].data[j] = result['reactions_list'][i].reactions[j].quantity;
                }
              }

              /**
               * Validates the charts and change them if any of these do not have doesn't have values
               */
              for (let j = 0; j < 4; j++) {
                if (elements_charts[i].config.data.datasets[0].data[j] > 0) {
                  is_empty = false;
                }
              }

              if (is_empty) {
                elements_charts[i].config.options.tooltips.callbacks.label = function () {
                  return ' Sin reacciones';
                };
                elements_charts[i].config.data.datasets[0].data[4] = 1;
              } else {
                elements_charts[i].config.options.tooltips.callbacks.label = function (tooltipItem, data) {
                  let dataLabel = data.labels[tooltipItem.index];
                  dataLabel += ': ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                  return dataLabel;
                };
                elements_charts[i].config.data.datasets[0].data.splice(4, 1);
              }

              elements_charts[i].update();
            }
          },

          error: function(result) {
            console.log(result);
          },
        });
      }

      /**
       * Asistencia vs Participación
       * Dibuja la gráfica, con datos de Asistencia, Comentarios y reacciones
       */
      reactions_week_chart = new Chart(ctx_week_reactions, {
        type: 'bar',
        data: {
          labels: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sábado", "Domingo"],
          datasets: [{
            label: 'Asistencia',
            data: getDinersDay(),
            backgroundColor: '#f66',
          },
          {
            label: 'Reacciones',
            data: get_suggestions_week_list(),
            backgroundColor: '#ffc000',
          },
          {
            label: 'Comentarios',
            data: get_rates_week_list(),
            backgroundColor: '#3399ff',
          }],
        },
        options: {
          responsive: true,
          onClick: function(event, legendItem) {
            try {
              let selected_day = legendItem[0]._index;
              for (let i = 0; i < reactions_week.length; i++) {
                if (reactions_week[i].number_day === selected_day) {
                  set_reactions_day_chart(reactions_week[i].date);
                }
              }
            } catch (error) {
              console.log(error.message);
            }
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
              },
            }]
          },
          title: {
            display: true,
            text: 'Gráfica de evaluaciones de la semana',
          },
          legend: {
            display: true,
          }
        }
      });

      /**
       * Draws the general reactions charts
       */
      reactions_general_chart = new Chart(ctx_general_suggestions, {
        type: 'doughnut',
        data: {
          labels: ["Enojado", "Triste", "Alegre", "Encantando"],
          datasets: [{
            label: 'Reacciones',
            data: get_suggestions_week_list(),
            backgroundColor: [
              "#FF5252",
              "#FFC400",
              "#2979FF",
              "#00E676",
            ],
          }],
        },
        options: {
          responsive: true,
          onClick: function(event, legendItem) {
            try {

            } catch (error) {
              console.log(error.message);
            }
          },

          title: {
            display: true,
            text: 'Histórico general de reacciones',
          },
          legend: {
            display: true,
          }
        }
      });

      /**
       * Draws the Doughnuts Charts
       */
      for (let i = 0; i <= {{ total_elements }}; i++) {
        if ( i === {{ total_elements }}) {
          elements_charts[i] = new Chart(ctx_reactions[i], {
            type: 'doughnut',
            data: {
              labels: [
                "Enojado",
                "Triste",
                "Alegre",
                "Encantado",
                "Sin Reacciones",
              ],
              datasets: [{
                data: [0,0,0,0,0],
                backgroundColor: [
                  "#FF5252",
                  "#FFC400",
                  "#2979FF",
                  "#00E676",
                ],
              }],
            },
            options: {
              cutoutPercentage: 40,
              responsive: true,
              animation: {
                animateScale: true
              },
              title: {
                display: true,
                text: 'Reacciones del día',
              },
              legend: {
                display: false,
              },
              layout: {
                padding: {
                  left: 0,
                  right: 0,
                  top: 0,
                  bottom: 0
                }
              }
            },
          });
        } else {
          let data = [];
          for(let j = 0; j < 4; j++) {
            data[j] = parseInt(Math.random() * 100  );
          }
          elements_charts[i] = new Chart(ctx_reactions[i], {
            type: 'doughnut',
            data: {
              labels: [
                "Enojado",
                "Triste",
                "Alegre",
                "Encantado",
                "Sin Reacciones",
              ],
              datasets: [{
                data: [0,0,0,0,0],
                backgroundColor: [
                  "#FF5252",
                  "#FFC400",
                  "#2979FF",
                  "#00E676",
                ],
              }],
            },
            options: {
              cutoutPercentage: 60,
              responsive: true,
              animation: {
                animateScale: true
              },
              title: {
                display: true,
                text: elements_to_evaluate[i].name,
              },
              legend: {
                display: false,
              },
              layout: {
                padding: {
                  left: 0,
                  right: 0,
                  top: 0,
                  bottom: 0
                }
              }
            },
          });
        }
      }

      /**
       * Returns the text to show in the weeks select
       */
      function convert_date_to_str(date) {
        let months = {
          1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun',
          7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic',
        };
        date = date.split('-');
        return date[0] + " " + months[parseInt(date[1])] + " " + date[2];
      }

      /**
       * Permite obtener las asistencias de comensales en la semana
       */
      function getDinersDay() {
        let entries_list = [];
        let count = 0;

        while (count < diners_week.length) {
          entries_list.push(parseFloat(diners_week[count].entries));
          count++;
        }
        return entries_list;
      }
      /**
       * Sets the doughnuts charts for today
       */
      today_date = todayDateObject.getDate() + '-' + (todayDateObject.getMonth() + 1) + '-' + todayDateObject.getFullYear();
      set_reactions_day_chart(today_date)
    });

  </script>
{% endblock javascript %}