{% extends 'base/base_nav_footer.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-xs-right mb-2">
        <form class="form-inline" id="dates-range-form">
          <select class="custom-select" id="dt-year">
          </select>
          <select class="custom-select" id="dt-week" >
          </select>
          <button id="btn-set-new-range" type="button" class="btn btn-outline-primary">Actualizar</button>
        </form>
      </div>
    </div>
    <div class="form-inline col-xs-12 diners-id-form mb-1">
      <div class="input-group">
        <div class="input-group-addon"><i class="material-icons">search</i></div>
        <input type="text" class="form-control form-control-lg" id="input-diners-search" placeholder="Buscar Comensal por ID">
      </div>
    </div>
    <div class="col-xs-6 mt-1 mb-1">
      <h3 class="text-xs-left">Comensales hasta hoy: <span class="badge badge-blue">{{ total_diners }}</span></h3>
    </div>
    <div class="col-xs-6 mt-1 mb-1">
      <h3 class="text-xs-right">Comensales de hoy: <span class="badge badge-success">{{ total_diners_today }}</span></h3>
    </div>
  </div>
  <div class="row">
    <table class="table" id="myTable">
      <thead class="thead-inverse">
        <tr>
          <th>RFID</th>
          <th>SAP</th>
          <th>Nombre</th>
          <th>Fecha de Acceso</th>                 
        </tr>
      </thead>      
      <tbody>      
        {%for diner in diners %}        
        <tr>       
          <th>{{ diner.RFID }}</th> 
          <td>{{ diner.diner.employee_number }}</td>          
          <td>{{ diner.diner.name }}</td>          
          <td>{{ diner.access_to_room }}</td>
        </tr>      
        {% endfor %}        
      </tbody>
    </table>
  </div>

  <div class="container-fluid mt-2 mb-2">
    <div class="col-xs-12">
      <div class="text-xs-center">
        <small>Página {{ paginator.num_page }} de {{ paginator.pages }}</small>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-right">
            {% if  paginator.has_prev %}
            <li class="page-item ">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="{% url 'diners:diners' %}?num_page={{ paginator.prev_page }}">{{ paginator.prev_page }}</a></li>
            <li class="page-item active">
              <span class="page-link">
                {{ paginator.num_page }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item"><a class="page-link" href="#{% url 'diners:diners' %}?num_page={{ paginator.next_page }}">{{ paginator.next_page }}</a></li>
            {% if paginator.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'diners:diners' %}?num_page={{ paginator.next_page }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disbled">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>

                <span class="sr-only">Next</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div> 
{% endblock %} 

{% block javascript %}
<script type="text/javascript" charset="utf-8" async>
  $(function() {
    var dates_range = JSON.parse('{{ dates_range | safe }}');

    function fill_dates_range_form() {
      var dates_range_form = $(this).find('#dt-year');
      var selected_year;
      $.each(dates_range, function(index, item) {
       $('#dates-range-form').find('#dt-year').append(
        "<option value=" + item.year + ">" + item.year + "</option>"
        );
     });

    /**
     * Receives a datetime with format from python.
     * Returns an hour converted into 24-hours format: hh:mm ith Timezone +06:00
     */
    function convert_datetime_to_hour(original_datetime){
      hour_formated = original_datetime.split('T')[1].split('.')[0].substr(0,5);
      return hour_formated;
    }

    function convert_date_to_str(date) {
      months = {
        1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun',
        7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic', 
      }
      date = date.split('-')
      fdate = date[0] + " " + months[parseInt(date[1])] + " " + date[2];
      return fdate;
    }

    selected_year = $('#dates-range-form').find('#dt-year').val();

    $.each(dates_range, function(index, item) {
      if (dates_range[index].year ==  selected_year) {
        $.each(dates_range[index].weeks_list, function(index, item) { 
            $('#dates-range-form').find('#dt-week').append(
              "<option value=" + item.start_date + "," + item.end_date + ">" + 
              "Semana " + item.week_number + ": " + 
              convert_date_to_str(item.start_date) +
              " - " + convert_date_to_str(item.end_date) +
              "</option>"
              );
          });
          return false;
        }
      });      
  }

  /** 
   * Refresh the page with de dates of the year and week selected
   */
  $(this).on('click', '#btn-set-new-range', function(event) {
    dt_year = $('#dt-year').val();
    dt_week = $('#dt-week').val();
    $.ajax({
      url: "{% url 'sales:sales' %}",
      type: 'POST',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'dt_year': dt_year,
        'dt_week': dt_week,
        'type': 'sales_week',
      },
      traditional: true,
      datatype: 'jsonp',
      success: function(result) {
        swal({
          title: 'Oops!',
          type: 'info',
          text: 'Estamos dando mantenimiento a este modulo, volveremos a la brevedad.',
          timer: 2000
        }).then( function () {}, function (dismiss) {
          if (dismiss === 'timer') {
          }
        })
      },
      error: function(result, jqXHR, textStatus, errorThrown) {
        console.log(result);
      },
    });
  });

  $(this).on('keyup', '#input-diners-search', function(event) {
    /** Declare variables */
      var input, filter, table, tr, td, i;
      input = document.getElementById("input-diners-search");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      /** Loop through all table rows, and hide those who don't match the search query */
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        } 
      }
    });
    fill_dates_range_form();
  });
</script>
{% endblock javascript %}