{% extends 'base/base_nav_footer.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
<input type="text" id="myInput" placeholder="Buscar Comensal por ID">
  <div class="row">
    <table class="table" id="myTable">
      <thead class="thead-inverse">
        <tr>
          <th>RFID</th>
          <th>Núm. Empleado</th>
          <th>Nombre</th>
          <th>Fecha de Acceso</th>                 
        </tr>
      </thead>      
      <tbody>      
        {%for object in objects %}        
        <tr>       
          <th>{{ object.RFID }}</th> 
          <td>{{ object.diner.employee_number }}</td>          
          <td>{{ object.diner.name }}</td>          
          <td>{{ object.access_to_room }}</td>
        </tr>      
        {% endfor %}        
      </tbody>
    </table>
  </div>
</div> 

{% endblock %} 

{% block javascript %}
<script type="text/javascript" charset="utf-8" async>
  $(function() {
    function rel(){
      location.reload();
    }

    setTimeout(rel, 3000);

    $(this).on('keyup', '#myInput', function(event) {
      /** Declare variables */
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      /** Loop through all table rows, and hide those who don't match the search query */
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        } 
      }
    });
  });
</script>
{% endblock javascript %}