{% extends 'base/base_nav_footer.html' %}
{% load static %}

{% block content %}
<div class="container-fluid analytics-container">

  <div class="row">
    <div class="col-xs-12 suggestions-container">
      <h3>Comentarios</h3>
      <div class="col-xs-12 suggestions-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Reaccion</th>
              <th>Comentario</th>
              <th>Elementos Evaluados</th>
              <th>Hora</th>
            </tr>
          </thead>
          <tbody>
            {% for test in tests %}
            {% if test.suggestion %}
            <tr>
              <td>
                {% if test.satisfaction_rating == 1 %}
                <img src="{% static 'images/Very_Angry_Emoji.png' %}" alt="Product image" height="80" >
                {% elif test.satisfaction_rating == 2 %}
                <img src="{% static 'images/Very_sad_emoji_icon_png.png' %}" alt="Product image" height="80" >
                {% elif test.satisfaction_rating == 3 %}
                <img src="{% static 'images/Hungry_Emoji.png' %}" alt="Product image" height="80" >
                {% elif test.satisfaction_rating == 4 %}
                <img src="{% static 'images/Heart_Eyes_Emoji.png' %}" alt="Product image" height="80" >
                {% endif %}
              </td>
              <td>{{ test.suggestion }}</td>
              <td>
                {% if test.satisfaction_rating == 1 %}
                {% for element in test.elements.all %}
                <div class="badge badge-emotion badge-emotion-1">
                  {{ element }} 
                </div>
                {% endfor %}
                {% elif test.satisfaction_rating == 2 %}
                {% for element in test.elements.all %}
                <div class="badge badge-emotion badge-emotion-2">
                  {{ element }} 
                </div>
                {% endfor %}
                {% elif test.satisfaction_rating == 3 %}
                {% for element in test.elements.all %}
                <div class="badge badge-emotion badge-emotion-3">
                  {{ element }} 
                </div>
                {% endfor %}
                {% elif test.satisfaction_rating == 4 %}
                {% for element in test.elements.all %}
                <div class="badge badge-emotion badge-emotion-4">
                  {{ element }} 
                </div>
                {% endfor %}
                {% endif %}
              </td>
              <td>{{ test.creation_date }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block javascript %}
<script src="{% static 'js/Chart.bundle.min.js' %}" defer></script>

<script type="text/javascript" charset="utf-8" async>
  $(function() {
    let ctx_week_suggestions = document.getElementById("canvas-week-suggestions"),
        ctx_element_1 = document.getElementById("canvas-element-1"),
        ctx_element_2 = document.getElementById("canvas-element-2"),
        ctx_element_3 = document.getElementById("canvas-element-3"),
        ctx_element_4 = document.getElementById("canvas-element-4"),
        ctx_element_5 = document.getElementById("canvas-element-5"),
        ctx_element_6 = document.getElementById("canvas-element-6");

    let suggestions_week_chart,
        element_chart_1,
        element_chart_2,
        element_chart_3,
        element_chart_4,
        element_chart_5,
        element_chart_6;

    /**
     * Draws the chart of suggestions of the day
     */
    suggestions_week_chart = new Chart(ctx_week_suggestions, {
      type: 'bar',
      data: {
        labels: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sábado", "Domingo"],
        datasets: [{
          label: 'Comentarios del día',
          data: [10,50,20,32,12,34,187],
          backgroundColor: [
          'rgba(241,196,15,0.7)',
          'rgba(230,126,34,0.7)',
          'rgba(231,76,60,0.7)',
          'rgba(26,188,156,0.7)',
          'rgba(46,204,113,0.7)',
          'rgba(52,152,219,0.7)',
          'rgba(52,73,94,0.7)',
          ],
          borderColor: [
          'rgba(241,196,15,0.9)',
          'rgba(230,126,34,0.9)',
          'rgba(231,76,60,0.9)',
          'rgba(26,188,156,0.9)',
          'rgba(46,204,113,0.9)',
          'rgba(52,152,219,0.9)',
          'rgba(52,73,94,0.9)',
          ],
        }]
      },
      options: {
        responsive: true,
        onClick: function(event, legendItem) {
          try {
          } catch (error) {
            console.log(error.message);
          }
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            },
          }]
        },
        title: {
          display: true,
          text: 'Comentairos del día',
        },
        legend: {
          display: false,
        }
      }
    });


    element_chart_1 = new Chart(ctx_element_1, {
      type: 'doughnut',
      data: {
        labels: [
          "Enojado",
          "Triste",
          "Contento",
          "Enamorado",
        ],
        datasets: [{
          data: [300, 50, 100,40],
          backgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784",
          ],
          hoverBackgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784"
          ]}]
      },
      options: {
        responsive: true,
        animation:{
            animateScale:true
        },
        title: {
          display: true,
          text: 'Elemento',
        },
        legend: {
            display: false,
        },
      },
    });

    element_chart_1 = new Chart(ctx_element_2, {
      type: 'doughnut',
      data: {
        labels: [
          "Enojado",
          "Triste",
          "Contento",
          "Enamorado",
        ],
        datasets: [{
          data: [300, 50, 100,40],
          backgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784",
          ],
          hoverBackgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784"
          ]}]
      },
      options: {
        responsive: true,
        animation:{
            animateScale:true
        },
        title: {
          display: true,
          text: 'Elemento',
        },
        legend: {
            display: false,
        },
      },
    });

    element_chart_1 = new Chart(ctx_element_3, {
      type: 'doughnut',
      data: {
        labels: [
          "Enojado",
          "Triste",
          "Contento",
          "Enamorado",
        ],
        datasets: [{
          data: [300, 50, 100,40],
          backgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784",
          ],
          hoverBackgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784"
          ]}]
      },
      options: {
        responsive: true,
        animation:{
            animateScale:true
        },
        title: {
          display: true,
          text: 'Elemento',
        },
        legend: {
            display: false,
        },
      },
    });

    element_chart_1 = new Chart(ctx_element_4, {
      type: 'doughnut',
      data: {
        labels: [
          "Enojado",
          "Triste",
          "Contento",
          "Enamorado",
        ],
        datasets: [{
          data: [300, 50, 100,40],
          backgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784",
          ],
          hoverBackgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784"
          ]}]
      },
      options: {
        responsive: true,
        animation:{
            animateScale:true
        },
        title: {
          display: true,
          text: 'Elemento',
        },
        legend: {
            display: false,
        },
      },
    });

    element_chart_1 = new Chart(ctx_element_5, {
      type: 'doughnut',
      data: {
        labels: [
          "Enojado",
          "Triste",
          "Contento",
          "Enamorado",
        ],
        datasets: [{
          data: [300, 50, 100,40],
          backgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784",
          ],
          hoverBackgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784"
          ]}]
      },
      options: {
        responsive: true,
        animation:{
            animateScale:true
        },
        title: {
          display: true,
          text: 'Elemento',
        },
        legend: {
            display: false,
        },
      },
    });

    element_chart_1 = new Chart(ctx_element_6, {
      type: 'doughnut',
      data: {
        labels: [
          "Enojado",
          "Triste",
          "Contento",
          "Enamorado",
        ],
        datasets: [{
          data: [300, 50, 100,40],
          backgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784",
          ],
          hoverBackgroundColor: [
            "#E57373",
            "#FFE082",
            "#90CAF9",
            "#81C784"
          ]}]
      },
      options: {
        responsive: true,
        animation:{
            animateScale:true
        },
        title: {
          display: true,
          text: 'Elemento',
        },
        legend: {
            display: false,
        },
      },
    });



  });
</script>
{% endblock javascript %}