{% extends "base/base_nav_footer.html" %}

{% block content %}
	<div class="row">
		{% for ctg in category %}
			<div class="col s12 m4 l3">
				<div class="card medium hoverable">
					<div class="card-image  waves-effect waves-light">
					<a href="{% url 'products:categories_supplies' ctg.name %}" title="{{ ctg.name }}">
						<img src="{{ ctg.image.url }}">
					</a>
					</div>
					<div class="card-content">
						<p>
							<span class="card-title">{{ ctg.name }}</span>
						</p>
						<p class="truncate">
							<strong >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua: </strong>
							{# <a href="" title="">{{ sp.category }}</a> #}
						</p>
					</div>
					<div class="card-action">
						<a href="">Texto</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</ul>
{% endblock content %}