{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  <div class="container container-error text-xs-center">
    <div class="col-xs-12 col-md-6 push-md-3">
      <h1>Error de Respuesta :(</h1>
      <div class="alert alert-info" role="alert">
        <strong>Error 400: </strong>Intenta recargar la página o regresar al <strong><a href="{% url 'users:login' %}">Inicio</a></strong>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include 'base/footer.html' %}
{% endblock %}