{% extends "base/base_nav_footer.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <h1>{{ supply.name }}</h1>
      </div>
    </div>
    <p>
    </p>
    <p>
      <strong>Precio: </strong>
    </p>
    <p>
      <strong>Categoria: </strong> {{ supply.category }}
    </p>
    <p>
      <strong>Codigo de barras: </strong> {{ supply.barcode }}
    </p>
    <p>
      <strong>Proveedor: </strong> {{ supply.provider }}
    </p>

    <img class="materialboxed" width="650" src="{{ supply.image.url | default_if_none:'#'}}">

  </div>

{% endblock content %}